<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282599031511-7391j1dfeujq4tfi4vs6tpr7cv2lr4ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282599031511-7391j1dfeujq4tfi4vs6tpr7cv2lr4ao</string>
	<key>API_KEY</key>
	<string>AIzaSyA29s9MKXFho8XkRN36xG-gPfJ7vxPMyoI</string>
	<key>GCM_SENDER_ID</key>
	<string>282599031511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Siitch</string>
	<key>PROJECT_ID</key>
	<string>siitch-6b176</string>
	<key>STORAGE_BUCKET</key>
	<string>siitch-6b176.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282599031511:ios:5f247e6d435780058ee692</string>
	<key>DATABASE_URL</key>
	<string>https://siitch-6b176.firebaseio.com</string>
</dict>
</plist>